/* common styles here */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* header styles here */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 97px;
  padding: 50px 240px 0;
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-text {
  width: 50%;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
}

.banner-description {
  margin: 32px 0;
}

.btn-primary {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #272727;
  border: 1px solid #272727;
}

.banner-img {
  width: 635px;
}

/* feature styles here */
.feature {
  margin: 178px auto 0;
}

.feature-text {
  width: 594px;
  text-align: center;
  margin: 0 auto;
}

.feature-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.feature-img {
  padding: 0 240px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.single-item {
  height: 594px;
}

.single-img {
  padding: 110px 78px 0 76px;
  border-radius: 300px 300px 0px 0px;
  width: 310px;
  height: 471px;
}

.pink-flower {
  width: 310pox;
  background-color: rgba(167, 33, 98, 0.15);
}

.red-flower {
  height: 422px;
  background-color: rgba(5, 151, 160, 0.15);
  padding-bottom: 50px;
}

.yellow-flower {
  width: 314px;
  background-color: rgba(71, 125, 17, 0.15);
}

.img-description {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
  margin-bottom: 128px;
}

/* services styles here */
.services {
  margin: 240px 240px 0;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
  padding: 87px 175px;
}

.all-services {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

.service-description {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 24px;
}

/* offer styles here */
.offer {
  margin: 128px 0;
  padding: 100px 429px 100px 395px;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
}

.offer-deal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 186px;
  text-align: center;
}

.offer-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

.offer-title > span {
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  color: #e55473;
}

.offer-description {
  margin: 24px 0 32px;
}
